<h2>Event Map</h2>

<div class="d-flex justify-content-between">
     <div class="mb-2">
          <span *ngIf="loading; else results">
               Loading...
          </span>
          <ng-template #results>
               <span>Found events <b>{{ events.length }}</b> in this area</span>
          </ng-template>
     </div>
     <div class="form-check d-flex align-items-center">
          <label class="me-2">Search circle radius</label>
          <input type="range" class="form-range me-3" min="0.05" max="1.25" step="0.05" 
               [(ngModel)]="radiusFactor" (change)="onChangeRadiusFactor()" [(disabled)]="!showSearchCircle">
          <label class="me-2">
            Show search circle
          </label>
          <input type="checkbox" [(ngModel)]="showSearchCircle" (change)="onShowSearchCircleChange()">
     </div>
</div>

<div style="height: 700px;"
     leaflet 
     [leafletOptions]="options"
     [(leafletCenter)]="center"
     [(leafletZoom)]="zoom"
     [leafletLayers]="layers"
     (leafletMapMoveEnd)="onMapMove()"
     (leafletMapZoomEnd)="onMapZoom()"
     (leafletMapReady)="onMapReady($event)">
</div>

