<h2 *ngIf="!singleEvent">Event Map</h2>

<div *ngIf="!singleEvent" class="d-flex justify-content-between">
  <div class="mb-2">
          <span *ngIf="loading; else results">
               Loading...
          </span>
    <ng-template #results>
      <span>Found <b [ngClass]="{'text-danger': events.length===0 && !loading}">{{ events.length }}</b> event{{events.length != 1 ? 's' : ''}} in this area</span>
    </ng-template>
  </div>
  <div class="form-check">
    <input (change)="onShowSearchCircleChange()" [(ngModel)]="showSearchCircle" class="form-check-input" id="flexCheckChecked" type="checkbox">
    <label class="form-check-label" for="flexCheckChecked">
      Show search circle
    </label>
  </div>
</div>

<div [class.preview]="singleEvent" class="map"
     leaflet
     [leafletOptions]="options"
     [(leafletCenter)]="center"
     [(leafletZoom)]="zoom"
     [leafletLayers]="layers"
     (leafletMapMoveEnd)="onMapMove()"
     (leafletMapZoomEnd)="onMapZoom()"
     (leafletMapReady)="onMapReady($event)">
</div>
