label {
	white-space: nowrap;
}

.content-wrapper {
	height: 700px;
	width: 100%;
	border: 1px solid #eceff1;
}

.events-list {
	height: 100%;
	width: 20%;
	box-shadow: inset 5px 0px 19px -12px rgba(176,176,176,1);
	overflow-y: scroll;
	overflow-x: hidden;
}

.event-list-header {
	display: flex;
	justify-content: center;
	border-bottom: 4px solid #eceff1;
}

.event-list-item {
	cursor: pointer;
	padding: 12px 8px;
	border-bottom: 1px solid #eceff1;
	border-left: 6px solid transparent;
	font-size: small;
}

.event-list-item.curr {
	border-left: 6px solid rgb(85,171,61);
	background-color: rgb(243, 243, 243);
}

.ellipsis {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}