<h2>Event Table</h2>
<a (click)="eventClicked('1')" class="nav-link">Link to an event with the id 1</a>
<p>The API URL is {{environment?.apiUrl}}</p>
<div *ngIf="state && state.totalResults > 0; else noResults">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="dev_name" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="place_ident" (sort)="onSort($event)">Place ID</th>
      <th scope="col" sortable="created" (sort)="onSort($event)">Created</th>
      <th scope="col" sortable="udpated" (sort)="onSort($event)">Last updated</th>
      <th scope="col">Tags</th>
      <th scope="col">State</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of state?.events">
      <!-- TODO: In case of empty value, add placeholder text  -->
      <td>{{ event?.metadata?.dev_name }}</td>
      <td>{{ event?.metadata?.place_ident }}</td>
      <td>{{ convertDate(event?.metadata?.created) }}</td>
      <td>{{ convertDate(event?.metadata?.updated) }}</td>
      <td>{{ convertTagNames(event?.tags) }}</td>
      <td>{{ event?.metadata?.state }}</td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="state.totalResults" [(page)]="state.page" [pageSize]="state.pageSize" (pageChange)="onPageChange()" [size]="'sm'">
    </ngb-pagination>
  </div>
</div>
<ng-template #noResults>
  <p>No events found</p>
</ng-template>
